<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title> Students </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <br>
        <div class="row">
            <h1> All Categories </h1>
        </div>

        <div class="row" style="float: right">
            <div class="col-lg-3" >
                <a th:href="@{/add-book}" class="btn btn-primary btn-sm mb-3"> Add New Book </a>
            </div>

        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="colgroup">Book Name </th>
                <th scope="colgroup">Book ISBN </th>
                <th scope="colgroup">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${book}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.ISBN}"></td>
                <td>
                    <a th:href="@{/edit-book/{id}(id=${book.id})}">
                        <button type="submit" class="btn btn-primary btn-sm mb-2"> Update</button>
                    </a>
                    <a th:href="@{/delete-book/{id}(id=${book.id})}">
                        <button type="submit" class="btn btn-danger btn-sm mb-2"> Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>