<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title> Method Not Allowed </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="d-flex align-items-center justify-content-center flex-column" style="height: 250px;">
        <h2> Method Not Allowed. </h2>
        <p> Click <a class="btn-info" th:href="@{/dashboard}"> Dashboard </a> to go back to your dashboard. </p>
        <div> 405 Error </div>
    </div>

</div>
</body>
</html>