* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0px;
}

.sidenav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav ul li a{
    padding: 6px 6px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #333;
}

ul {
    list-style-type: none;
}

.sidenav ul li a:hover{
    background-color: #2196f3;
    color: white;
    text-decoration: none;
}

.sidenav ul li a.active{
    background-color: #f1f1f1;
    color: black;
}


