<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Category </title>
</head>

<body>

<div layout:fragment="content">

    <div class="container">
        <br>
        <a class="btn btn-primary" th:href="@{/view-categories}" role="button" style="float: right"> Back </a>

        <br>
        <br>
        <div th:if="${errorMessage}" >
            <div class="alert alert-danger">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Add new Category </h1>

                <div class="card-body">
                    <form th:action="@{/add-category/new}" th:object="${categoryDto}" method="POST">
                        <div class="form-group">
                            <label> Category Name </label>
                            <input
                                    type="text"
                                    name="authorName"
                                    th:field="*{name}"
                                    class="form-control"
                                    placeholder="Enter Category Name"
                            />
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error </p>
                        </div>
                        <div class="form-group">
                            <label> Category Description </label>
                            <input
                                    type="text"
                                    name="authorEmail"
                                    th:field="*{description}"
                                    class="form-control"
                                    placeholder="Enter Description"
                            />
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> Error </p>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>