<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" th:href="@{~/css/login.css}">


    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <a class="btn btn-primary" th:href="@{/login}" role="button" style="float: right"> Back </a>


    <main class="login-form">
        <div class="cotainer">
            <div th:if="${errorMessage}" >
                <div class="alert alert-danger">
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header"> Admin Registration Page </div>
                        <div class="card-body">

                            <p th:if="${loginError}" class="error"> Wrong user or password </p>

                            <!--                        name should be username and pass respectively for security config-->

                            <form th:action="@{/register-admin/new}" th:object="${member}" method="POST">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Full Name</label>
                                    <div class="col-md-6">
                                        <input
                                                type="text"
                                                name="memberName"
                                                th:field="*{name}"
                                                class="form-control"
                                                placeholder="Full Name"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Error </p>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Email Address </label>
                                    <div class="col-md-6">
                                        <input
                                                type="text"
                                                name="memberEmail"
                                                th:field="*{email}"
                                                class="form-control"
                                                placeholder="Email Address"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error </p>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input
                                                type="text"
                                                name="memberUsername"
                                                th:field="*{username}"
                                                class="form-control"
                                                placeholder="Username"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Error </p>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Phone Number</label>
                                    <div class="col-md-6">
                                        <input
                                                type="text"
                                                name="phoneNumber"
                                                th:field="*{mobileNumber}"
                                                class="form-control"
                                                placeholder="Phone Number"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"> Error </p>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Address</label>
                                    <div class="col-md-6">
                                        <input
                                                type="text"
                                                name="memberAddress"
                                                th:field="*{address}"
                                                class="form-control"
                                                placeholder="Address"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"> Error </p>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input
                                                type="password"
                                                name="memberAddress"
                                                th:field="*{password}"
                                                class="form-control"
                                                placeholder="Password"
                                                required autofocus>
                                    </div>

                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Error </p>

                                </div>


                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                    <button type="reset" class="btn btn-primary">
                                        Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
</body>
</html>