<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{~/css/home.css}">
    <title> Home </title>
</head>

<body>

<div layout:fragment="content">
<!--    <h1 style="text-align: center"> Welcome to Book Rental System </h1>-->
    <img th:src="@{images/bookRental.png}" height="575px" width="1280pxx">
</div>


<!--can add fragments manually like this too but it will not be efficient in large programs-->
<!--<header th:insert="fragments/navbar.html"> </header>-->
<!--<footer th:insert="fragments/footer.html"> </footer>-->

</body>
</html>